@import "tailwindcss";

/* @theme{
  --breakpoint-sm:385px;
  --breakpoint-md: 640px;
} */
#root {
  margin: 0;
  padding: 0;
  
}

.home-page-body{
    background-color: #c4fcef;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");

    padding-top: calc(var(--spacing) * 16); 
}
  